<section class="testimonials">
  <div class="testimonials-header">
    <h2 class="testimonials-title">
      {{ translate.t('testimonials_title') }}
    </h2>
  </div>

  <div class="testimonials-row">
    <img
      class="testimonials-arrow"
      src="assets/img/arrow-teamplayer.png"
      alt=""
    />

    <div class="testimonials-list">
      <article class="testimonial" *ngFor="let t of testimonials">
        <h3 class="testimonial-name">
          {{ translate.t(t.nameKey) }}
        </h3>

        <p class="testimonial-project">
          {{ translate.t(t.projectKey) }}
        </p>

        <p class="testimonial-quote">
          {{ translate.t(t.quoteKey) }}
        </p>
      </article>
    </div>
  </div>
</section>
