<section class="skills" id="skills">

  <h2 class="skills-title">My Skills</h2>

  <div class="skills-rows">
    <!-- erste Reihe -->
    <div class="skills-row">
      <div class="skill" *ngFor="let skill of skillsTop">
        <div class="skill-icon">
          <img [src]="skill.icon" [alt]="skill.name" />
        </div>
        <div class="skill-name">
        </div>
      </div>
    </div>

    <!-- zweite Reihe -->
    <div class="skills-row">
      <div class="skill" *ngFor="let skill of skillsBottom">
        <div class="skill-icon">
          <img [src]="skill.icon" [alt]="skill.name" />
        </div>
        <div class="skill-name">          
        </div>
      </div>
    </div>
  </div>

</section>

