<header class="header">
  <div class="header-inner">
    <div class="logo">
      <button class="logo-btn" (click)="scrollToTop()" aria-label="Zum Seitenanfang">
        <span class="logo-text">&lt;MK&gt;</span>
      </button>
    </div>

    
    <nav class="nav">
      <button class="nav-link" type="button" (click)="scrollToSection('about')">
        {{ translate.t('nav_whyMe') }}
      </button>
      <button class="nav-link" type="button" (click)="scrollToSection('skills')">
        {{ translate.t('nav_skills') }}
      </button>
      <button class="nav-link" type="button" (click)="scrollToSection('projects')">
        {{ translate.t('nav_projects') }}
      </button>
      <button class="nav-link" type="button" (click)="scrollToSection('contact')">
        {{ translate.t('nav_contact') }}
      </button>
    </nav>

    <div class="header-right">
      
      <div class="lang">
        <button
          type="button"
          (click)="setLang('de')"
          [class.active]="currentLang === 'de'"
        >
          DE
        </button>
        <span>|</span>
        <button
          type="button"
          (click)="setLang('en')"
          [class.active]="currentLang === 'en'"
        >
          EN
        </button>
      </div>

      
      <button
        class="burger"
        type="button"
        (click)="toggleMenu()"
        [attr.aria-expanded]="menuOpen"
        aria-label="Toggle menu"
      >
        <span class="burgerLines" *ngIf="!menuOpen">
          <i></i><i></i><i></i>
        </span>

        <span class="closeIcon" *ngIf="menuOpen">×</span>
      </button>
    </div>
  </div>
</header>


<div class="mobileOverlay" *ngIf="menuOpen" (click)="closeMenu()">
  <div class="mobilePanel" (click)="$event.stopPropagation()">
    <nav class="mobileNav">
      <button class="mobile-link" type="button" (click)="scrollToSection('about')">
        {{ translate.t('nav_whyMe') }}
      </button>
      <button class="mobile-link" type="button" (click)="scrollToSection('skills')">
        {{ translate.t('nav_skills') }}
      </button>
      <button class="mobile-link" type="button" (click)="scrollToSection('projects')">
        {{ translate.t('nav_projects') }}
      </button>
      <button class="mobile-link" type="button" (click)="scrollToSection('contact')">
        {{ translate.t('nav_contact') }}
      </button>
    </nav>

    
    <div class="mobileLang">
      <button
        type="button"
        (click)="setLang('de')"
        [class.active]="currentLang === 'de'"
      >
        DE
      </button>
      <span>|</span>
      <button
        type="button"
        (click)="setLang('en')"
        [class.active]="currentLang === 'en'"
      >
        EN
      </button>
    </div>
  </div>
</div>
