<header class="header">
  <div class="logo">
    <img class="Logo" src="assets/img/Logo.png" alt="Logo" />
  </div>

  
  <nav class="nav">
    <a href="#about">{{ translate.t('nav_whyMe') }}</a>
    <a href="#skills">{{ translate.t('nav_skills') }}</a>
    <a href="#projects">{{ translate.t('nav_projects') }}</a>
    <a href="#contact">{{ translate.t('nav_contact') }}</a>
  </nav>

  <div class="header-right">
    
    <div class="lang">
      <button
        type="button"
        (click)="setLang('de')"
        [class.active]="currentLang === 'de'"
      >
        DE
      </button>
      <span>|</span>
      <button
        type="button"
        (click)="setLang('en')"
        [class.active]="currentLang === 'en'"
      >
        EN
      </button>
    </div>

    
    <button
      class="burger"
      type="button"
      (click)="toggleMenu()"
      [attr.aria-expanded]="menuOpen"
      aria-label="Toggle menu"
    >
      <span class="burgerLines" *ngIf="!menuOpen">
        <i></i><i></i><i></i>
      </span>

      <span class="closeIcon" *ngIf="menuOpen">×</span>
    </button>
  </div>
</header>


<div class="mobileOverlay" *ngIf="menuOpen" (click)="closeMenu()">
  <div class="mobilePanel" (click)="$event.stopPropagation()">
    <nav class="mobileNav">
      <a href="#about" (click)="closeMenu()">
        {{ translate.t('nav_whyMe') }}
      </a>
      <a href="#skills" (click)="closeMenu()">
        {{ translate.t('nav_skills') }}
      </a>
      <a href="#projects" (click)="closeMenu()">
        {{ translate.t('nav_projects') }}
      </a>
      <a href="#contact" (click)="closeMenu()">
        {{ translate.t('nav_contact') }}
      </a>
    </nav>

    
    <div class="mobileLang">
      <button
        type="button"
        (click)="setLang('de')"
        [class.active]="currentLang === 'de'"
      >
        DE
      </button>
      <span>|</span>
      <button
        type="button"
        (click)="setLang('en')"
        [class.active]="currentLang === 'en'"
      >
        EN
      </button>
    </div>
  </div>
</div>
