<section class="hero">
    <!-- vertikaler Button -->
    <button class="hero-contact-vertical">
        Contact Me
    </button>

    <!-- Pfeil in der Mitte -->
    <div class="hero-arrow">
        <img src="assets/img/Arrow down.png" alt="" srcset="">
    </div>

<!--Hauptbereich: Text und Bild-->
<div class="hero-content">
    <div class="hero-text">
        <p class="hero-role">FRONTEND DEVELOPER</p>
        <h1 class="hero-name">Marvin Klösters</h1>
    </div>
</div>

<div class="hero-photo-wrapper">
    <img src="/assets/img/hero-mk.png" alt="Marvin Klösters" srcset="">
</div>
</section>