<section class="about" id="about">
  <div class="about-photo">
    <img src="assets/img/whyme-photo.png" alt="Portrait Marvin" />
  </div>

  <div class="about-content">
    <h2 class="about-title">{{ translate.t('about_title') }}</h2>

    <p class="about-text">
      {{ translate.t('about_text') }}
    </p>

    <div class="about-i-am">
      <span class="about-i-am-label">{{ translate.t('about_iAm') }}</span>

      <div class="about-visual">
        <div class="about-tag about-tag--location">
          <span class="about-icon">
            <img src="assets/img/Vector.png" alt="Location" />
          </span>
          <span class="about-tag-text">
            {{ translate.t('about_location_value_1') }}<br />
            {{ translate.t('about_location_value_2') }}
          </span>
        </div>

        <div class="about-tag about-tag--relocate">
          <span class="about-icon">
            <img src="assets/img/Group 24.png" alt="Relocate" />
          </span>
          <span class="about-tag-text">
            {{ translate.t('about_relocate_value_1') }}<br />
            {{ translate.t('about_relocate_value_2') }}
          </span>
        </div>

        <div class="about-tag about-tag--remote">
          <span class="about-icon">
            <img src="assets/img/Icon Remote.png" alt="Remote" />
          </span>
          <span class="about-tag-text">
            {{ translate.t('about_remote_value_1') }}<br />
            {{ translate.t('about_remote_value_2') }}
          </span>
        </div>

        <img class="about-arrow about-arrow--1" src="assets/img/Arrow 5.png" alt="" />
        <img class="about-arrow about-arrow--2" src="assets/img/Arrow 4.png" alt="" />
        <img class="about-arrow about-arrow--3" src="assets/img/Arrow 01.png" alt="" />
      </div>
    </div>

    <button class="about-cta" (click)="scrollToContact()">
      {{ translate.t('cta_letsTalk') }}
    </button>
  </div>
</section>
