<footer class="footer">
  <div class="footer-inner">

    
    <div class="footer-logo">
      <div class="footer-logo-main">&lt;MK&gt;</div>
      <div class="footer-logo-sub">frontend developer</div>
    </div>

    
    <div class="footer-center">
      <div class="footer-copy">
        © Marvin Klösters 2025
      </div>
      <div class="footer-links">
        <a routerLink="/imprint">legal notice</a>
        <span>  </span>
       
      </div>
    </div>

   
    <div class="footer-social">
      <a href="https://github.com/MarvinKloe47/" target="_blank" rel="noopener noreferrer">
        <img src="assets/icons/github-footer.png" alt="GitHub" />
      </a>
      <a href="mailto:marvin.kloesters@omexom.com">
        <img src="assets/icons/mail-footer.png" alt="Mail" />
      </a>
      <a href="https://de.linkedin.com/in/marvin-kl%C3%B6sters-5823062b9" target="_blank" rel="noopener noreferrer">
        <img src="assets/icons/linkedin-footer.png" alt="LinkedIn" />
      </a>
    </div>

  </div>
</footer>
