/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;700&display=swap');

:root {
  /* Main Background Colors (from your design) */
  --bg-dark: #0B042D;
  --bg-darker: #050320;
  --bg-dark-20: rgba(11, 4, 45, 0.2);

  /* Gradient */
  --bg-gradient: radial-gradient(
    circle at 20% 20%,
    var(--bg-dark),
    var(--bg-darker) 70%
  );

  /* Accent colors */
  --primary: #13f2ff;
  --accent: #ff5b2e;

  /* Text */
  --text-main: #ffffff;
  --text-muted: #9aa0ff;

  /* Layout */
  --max-width: 1200px;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans', system-ui, sans-serif;
  background: var(--bg-gradient);
  color: var(--text-main);
}

body.noScroll {
  overflow: hidden;
}


main {
  max-width: var(--max-width);      /* z. B. 1200px */
  margin: 0 auto;
  padding: 0 40px 80px;             /* LINKS/RECHTS Rand + unten Abstand */
  box-sizing: border-box;
}


